.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container a {
    text-decoration: none;
    color: white;
}
.container a:hover{
    text-decoration: underline;
    color: blue;
}
