<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">LOGIN</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-margin container">
    <ion-item>
      <ion-thumbnail slot="start">
        <img
          alt="Logo de la Universidad Autonoma de Santo Domingo"
          src="../../assets/logo-uasd-solo-footer.png"
          class="img"
        />
      </ion-thumbnail>
      <ion-label>Portal de Egresados (UASD)</ion-label>
    </ion-item>
    <form class="ion-margin" [formGroup]="loginForm">
      <ion-input
        type="email"
        label="Email"
        label-placement="floating"
        fill="solid"
        name="email"
        placeholder="Enter Email"
        formControlName="email"
      ></ion-input>
      <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="danger"
      >
        <div *ngIf="email.errors?.['required']">El Email es Reqerido.</div>
        <div *ngIf="email.errors?.['email']">El correo debe ser tipo Email</div>
      </div>
      <br />

      <ion-input
        type="password"
        label="password"
        name="password"
        label-placement="floating"
        fill="solid"
        placeholder="Enter password"
        formControlName="password"
      ></ion-input>
      <div
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="danger"
      >
        <div *ngIf="password.errors?.['required']">
          El password es Reqerido.
        </div>
      </div>
      <br />
      <ion-checkbox class="ion-margin-bottom">Recuerdame</ion-checkbox>
      <ion-button type="button" (click)="login()" expand="block"
        >Iniciar sesión</ion-button
      >
      <a href="#">Olvidé mi contraseña</a>
    </form>
  </div>
</ion-content>
