<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title size="large">Destacados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="md">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Egresados Destacados</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-loader [isLoading]="loading"></app-loader>
  <app-egresados-list [egresados]="egresados" (egresadoClicked)="openEgresadoDetailsModal($event)"></app-egresados-list>
</ion-content>
