.no-egresados-msg {
  height: 100%;
  display: block;
  margin: 0 auto;
}

ion-content {
  div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 }