.separator {
  width: 10px;
}

.avatar-img {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  border: 1px solid #7D7C7C;
}

.muted {
  color: gray;
}
.egresados-list-egresado-name {
  font-size: 1rem;
  font-weight: 500;
  color: #45474B;
}

.egresados-list-egresado-info {
  font-size: 0.8rem;
  font-weight: 400;
  color: #45474B;
}

.egresados-list-item {
  min-height: 80px;
} 

.egresados-list-egresado-direccion {
  margin-top: 5px;
  font-size: 0.7rem;
  color: #45474B;
}

.egresados-list-info-divider {
  height: 8px;
}

.egresados-list-avatar-img {
  padding-top: 12px;
}

.info-text-width {
  width: 100%;
}
@media (prefers-color-scheme: dark) {
  .egresados-list-egresado-name {
    color: #96989b;
  }
  .egresados-list-egresado-info{
    color: #96989b;
  }
  .egresados-list-egresado-direccion{
    color: #96989b;
  }
}