<ion-content>
  <ng-container *ngIf="egresados">
    <ion-list>
      <ion-item button (click)="onEgresadoClick(egresado.id)"
        *ngFor="let egresado of egresados">
        <ion-thumbnail>
          <ion-img
            class="avatar-img"
            src="{{egresado.profilePicUrl || 'assets/img/profile/profile-icon.webp'}}">
        </ion-img>
        </ion-thumbnail>
        <div class="separator"></div>
        <ion-label>
          <h2 class="name-zise">
            {{ egresado.Nombre }} {{ egresado.ApellidoPaterno }}
            {{ egresado.ApellidoMaterno }}
          </h2>
          <ion-text>
            <h6 class="muted">
              {{ this.helperService.getLatestPosition(egresado) }}
            </h6>
            <span class="muted empresa-list">
             {{ this.helperService.getLatestEmpresa(egresado) }}
            </span>
            <br>
          <h6 class="muted" *ngFor="let direccion of egresado.direccionEgresado">
            Provincia: {{direccion.provincia}}
          </h6>
            <span *ngIf="egresado.destacado" class="star">
              <ion-icon name="star"></ion-icon>
            </span>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
