<app-loader *ngIf="loading"></app-loader>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Habilidades</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Modificar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ng-container *ngIf="!loading">
    <ion-title style="margin-bottom: 15px;">Agregar Habilidad</ion-title>
    <ion-item *ngFor="let habilidad of habilidades">
      <ion-checkbox slot="end" [(ngModel)]="habilidad.checked"></ion-checkbox>
      <ion-label>{{habilidad.habilidad}}</ion-label>
    </ion-item>
  </ng-container>
</ion-content>
