<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="vacantes" href="/tabs/vacantes">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Vacantes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mis-aplicaciones" href="/tabs/mis-aplicaciones">
      <ion-icon aria-hidden="true" name="bookmark"></ion-icon>
      <ion-label>Mis Aplicaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuracion" href="/tabs/configuracion">
      <ion-icon aria-hidden="true" name="cog"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
