<ion-tabs>
 
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="egresados" href="/tabs/egresados">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Egresados</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="destacados" href="/tabs/destacados">
      <ion-icon aria-hidden="true" name="star"></ion-icon>
      <ion-label>Destacados</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="userIsAdmin" tab="candidatos-destacados" href="/tabs/candidatos-destacados">
      <ion-icon aria-hidden="true" name="sparkles"></ion-icon>
      <ion-label>Candidatos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cuenta" href="/tabs/cuenta">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
