ion-input {
  margin-bottom: 10px;
}

ion-radio {
  margin-bottom: 5px;
}

.min-max-width {
  max-width: 200px;
  margin: 0 auto;
}

.muted {
  color: gray;
}

.bottom-space {
  margin-top: 10px !important;
}

.work-experience-item {
  margin-bottom: 10px;
}

ion-textarea {
  min-height: 75px !important;
}

.label-padding {
  padding-left: 15px;
}