<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Edición Egresado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="md">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Edición Egresado</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-title style="margin-top: 15px">Información Personal</ion-title>
    <form
      class="ion-margin"
      [formGroup]="egresadoForm"
      (ngSubmit)="save()"
      *ngIf="egresado"
    >
      <!-- Nombre Egresado -->
      <ion-input
        type="text"
        fill="solid"
        label="Nombres"
        labelPlacement="floating"
        helperText="Ingresa tu Nombre"
        errorText="Nombre Inválido"
        formControlName="Nombre"
      ></ion-input>

      <!-- Apellido Paterno  -->
      <ion-input
        type="text"
        fill="solid"
        label="Primer Apellido"
        labelPlacement="floating"
        helperText="Ingresa tu Primer Apellido"
        errorText="Primer Apellido Inválido"
        formControlName="ApellidoPaterno"
      ></ion-input>

      <!-- Apellido Materno -->
      <ion-input
        type="text"
        fill="solid"
        label="Segundo Apellido"
        labelPlacement="floating"
        helperText="Ingresa tu Segundo Apellido"
        errorText="Segundo Apellido Inválido"
        formControlName="ApellidoMaterno"
      ></ion-input>

      <!-- About -->
      <ion-textarea
        type="text"
        fill="solid"
        label="Acerca de"
        labelPlacement="floating"
        helperText="Ingresa tu Información"
        errorText="Información Inválida"
        formControlName="about"
      ></ion-textarea>

      <!-- Cédula -->
      <ion-input
        type="text"
        fill="solid"
        label="Cédula"
        labelPlacement="floating"
        helperText="Ingresa tu Cédula"
        errorText="Cédula Inválida"
        formControlName="Cedula"
      ></ion-input>

      <!-- Pasaporte -->
      <ion-input
        type="text"
        fill="solid"
        label="Pasaporte"
        labelPlacement="floating"
        helperText="Ingresa tu Pasaporte"
        errorText="Pasaporte Inválido"
        formControlName="Pasaporte"
      ></ion-input>

      <!-- Fecha Nacimiento -->
      <ion-input
        type="date"
        fill="solid"
        label="Fecha Nacimiento"
        labelPlacement="floating"
        helperText="Ingresa tu Fecha de Nacimiento"
        errorText="Fecha de Nacimiento Inválida"
        formControlName="FechaNac"
      ></ion-input>

      <!-- Genero -->
      <ion-text>
        <h5>Sexo</h5>
      </ion-text>
      <ion-radio-group
        [value]="egresadoForm.controls['Genero']"
        [allowEmptySelection]="true"
        formControlName="Genero"
      >
        <ion-radio value="Masculino" labelPlacement="fixed">Masculino</ion-radio
        ><br />
        <ion-radio value="Femenino" labelPlacement="fixed">Femenino</ion-radio
        ><br />
        <ion-radio value="Otro" labelPlacement="fixed">Otro</ion-radio><br />
      </ion-radio-group>

      <ion-grid style="margin-top: 15px; margin-bottom: 15px">
        <ion-row>
          <ion-col size-sm="12" size="12" class="ion-text-center">
            <ion-button expand="full" class="ion-text-wrap" type="submit">
              Guardar datos personales
              <ion-icon name="save-outline" slot="end"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item-divider></ion-item-divider>

      <ion-title style="margin-top: 15px; margin-left: -15px"
        >Información Adicional</ion-title
      >
      <!-- Nacionalidad -->
      <!-- <ion-list formArrayName="nacionalidadEgresado">
        <ion-row>
          <ion-col size="10">
            <h5>Nacionalidad</h5>
          </ion-col>
          <ion-col size="2">
            <ion-button color="primary" float-right>
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

        <ng-container *ngIf="nacionalidadEgresadoArray.controls.length === 0">
          <ion-label class="muted upper-separation"> No hay Nacionalidades definidas</ion-label>
        </ng-container>

        <ng-container *ngIf="nacionalidadEgresadoArray.controls.length >= 0">
          <ion-item *ngFor="let nacionalidad of nacionalidadEgresadoArray.controls; let i = index">
            <ion-label>{{nacionalidad.value.nacionalidad}}</ion-label>
            <ion-button color="danger">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ng-container>
      </ion-list> -->
      <!-- Fin Nacionalidad -->

      <!-- Habilidades -->
      <ion-list formArrayName="egresadosHabilidad">
        <ion-row>
          <ion-col size="10">
            <h5>Habilidades</h5>
          </ion-col>
          <ion-col size="2">
            <ion-button
              color="primary"
              float-right
              (click)="openHabilidadesModal()"
            >
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

        <ng-container *ngIf="habilidadesEgresadoArray.controls.length === 0">
          <ion-label class="muted upper-separation">
            No hay habilidades definidas</ion-label
          >
        </ng-container>

        <ng-container *ngIf="habilidadesEgresadoArray.controls.length >= 0">
          <ion-item
            *ngFor="let habilidad of habilidadesEgresadoArray.controls; let i = index"
          >
            <ion-label>{{habilidad.value.habilidad}}</ion-label>
          </ion-item>
        </ng-container>
      </ion-list>
      <!-- Fin de Habilidades -->

      <!-- Idioma Egresado -->
      <ion-list formArrayName="idiomaEgresado">
        <ion-row>
          <ion-col size="10">
            <h5>Idioma</h5>
          </ion-col>
          <ion-col size="2">
            <ion-button
              color="primary"
              float-right
              (click)="openIdiomasModal()"
            >
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

        <ng-container *ngIf="idiomaEgresadoArray.controls.length === 0">
          <ion-label class="muted upper-separation">
            No hay Idiomas definidos</ion-label
          >
        </ng-container>

        <ng-container *ngIf="idiomaEgresadoArray.controls.length >= 0">
          <ion-item
            *ngFor="let idioma of idiomaEgresadoArray.controls; let i = index"
          >
            <ion-label>{{idioma.value.idioma}}</ion-label>
          </ion-item>
        </ng-container>
      </ion-list>
      <!-- Fin Idiomas -->

      <!-- Experiencia Laboral -->
      <ion-list>
        <ion-row>
          <ion-col size="10">
            <h5>Experiencia Laboral</h5>
          </ion-col>
          <ion-col size="2">
            <ion-button color="primary" float-right (click)="openExperienciaLaboralModal()">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

        <ng-container *ngIf="experienciaLaboralEgresadoArray.controls.length === 0">
          <ion-label class="muted upper-separation">
            No hay Experiencia Laboral definida</ion-label
          >
        </ng-container>

        <ng-container *ngIf="experienciaLaboralEgresadoArray.controls.length >= 0">
          <ion-item
            *ngFor="let experiencia of experienciaLaboralEgresadoArray.controls; let i = index"
            class="work-experience-item"
          >
            <ion-content style="min-height: 60px">
              <ion-label>{{experiencia.value.posicion}}</ion-label>

              <ion-label class="muted">
                {{experiencia.value.empresa}}
                <br />
                {{experiencia.value.FechaEntr}} - {{experiencia.value.FechaSal
                || 'Actualidad'}}
              </ion-label>
            </ion-content>
            <ion-button color="danger" (click)="deleteExperienciaLaboralEgresado(experiencia.value.id)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ng-container>
      </ion-list>
      <!-- Fin de Experiencia Laboral -->

      <!-- Educación -->
      <ion-list>
        <ion-row>
          <ion-col size="10">
            <h5>Educación</h5>
          </ion-col>
          <ion-col size="2">
            <ion-button color="primary" float-right>
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

        <ng-container *ngIf="educacionEgresadoArray.controls.length === 0">
          <ion-label class="muted upper-separation">
            No hay Educación definida</ion-label
          >
        </ng-container>

        <ng-container *ngIf="educacionEgresadoArray.controls.length >= 0">
          <ion-item
            *ngFor="let educacion of educacionEgresadoArray.controls; let i = index"
          >
            <ion-content>
              <ion-label>{{educacion.value.Titulo}}</ion-label>
              <ion-label class="muted">
                {{educacion.value.FechaEntr}} - {{educacion.value.FechaSal ||
                'Actualidad'}}
              </ion-label>
            </ion-content>
            <ion-button color="danger">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ng-container>
      </ion-list>
      <!-- Fin de Educación -->

      <!-- Contacto -->
      <ion-list>
        <ion-row>
          <ion-col size="10">
            <h5>Contacto</h5>
          </ion-col>
          <ion-col size="2">
            <ion-button
              color="primary"
              float-right
              (click)="openContactoModal()"
            >
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

        <ng-container *ngIf="contactoEgresadoArray.controls.length === 0">
          <ion-label class="muted upper-separation">
            No hay Información de Contacto definida</ion-label
          >
        </ng-container>

        <ng-container *ngIf="contactoEgresadoArray.controls.length >= 0">
          <ion-item
            *ngFor="let contacto of contactoEgresadoArray.controls; let i = index"
          >
            <ion-content>
              <ion-label *ngIf="contacto.value.tipo !=='EMAIL', else isEmail">
                {{contacto.value.valor | mask:'000-000-0000'}}
              </ion-label>
              <ng-template #isEmail>{{contacto.value.valor}}</ng-template>
              <ion-label class="muted">
                {{contacto.value.tipo | lowercase}}
              </ion-label>
            </ion-content>
            <ion-button
              color="danger"
              (click)="deleteContactoEgresado(contacto.value.id)"
            >
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ng-container>
      </ion-list>
      <!-- Fin de Contacto -->

      <ion-item-divider></ion-item-divider>
      <ion-grid style="margin-top: 15px; margin-bottom: 15px">
        <ion-row>
          <ion-col size-sm="12" size="12" class="ion-text-center">
            <ion-button
              expand="full"
              class="ion-text-wrap"
              color="light"
              (click)="onCancelClick()"
            >
              Salir de edición de perfil
              <ion-icon name="exit-outline" slot="end"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>
</ion-content>
