ion-spinner {
  height: 100%;
  display: block;
  margin: 0 auto;
}

.muted {
  color: gray;
}

h3 {
  margin: 0px
}

.spaced-text {
  margin: 8px 0 15px 0;

}
.idioma{
  display: flex;
 justify-content: center;
}