ion-spinner {
  height: 100%;
  display: block;
  margin: 0 auto;
}

.muted {
  color: gray;
}

h3 {
  margin: 0px;
}

.spaced-text {
  margin: 8px 0 15px 0;
}
.chip {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 5px;
}
.titulo {
  margin-top: 20px;
  margin-left: 30px;
}

.title-color {
  color: #45474B;
}

.bold {
  font-weight: 600;
}

.avatar-img {
  border: 1px solid #7D7C7C;
  border-radius: 100% !important;

}

.content-details {
  padding-top: 20px;
  min-height: 340px;
}
.info-persomal{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  column-gap: 10px;
  align-items: center;
  padding: 10px;

}
.info-persomal h3{
  font-size: 32px;
  margin-bottom: 10px;
}
.info-persomal span{
  font-size: 20px;
 
  justify-content: center;
}
.info-persomal-grid{
 display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: baseline;
}

.star {
  font-size: 2.5rem;
}

.destacado-color {
  margin-left: 5px;
  color: #f1dd38;
}

.egresados-detail-thumnail {
  height: 12rem;
  width: 12rem;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.egresados-list-egresado-direccion {
  font-size: 0.9rem;
}

.info-text-color {
  color: #45474B;
}

.profile-name {
  font-size: 1.2rem;
  font-weight: 500;
}

.white-background {
  --ion-background-color: '#fff' 
} 

.contador-de-letras {
  font-size: 14px;
  display: flex;
  justify-content: right;
  bottom: 15px;
}
