<!--Header-->
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        (click)="onBackButtonClick()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle del Egresado</ion-title>
  </ion-toolbar>
</ion-header>
<!--Content-->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="md">
    <ion-toolbar>
      <ion-title size="large">Detalle del Egresado</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- content Egresado -->
  <app-loader [isLoading]="loading"></app-loader>
  <!--<ion-content *ngIf="loading">
    <ion-spinner name="crescent"></ion-spinner>
  </ion-content>-->
  <ion-content *ngIf="!loading">
    <!--Grid -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <!--Imagen De perfil-->
          <ion-img
            src="{{egresado.profilePicUrl || 'assets/img/profile/profile-icon.webp'}}"
          ></ion-img>
        </ion-col>
        <!--Informacion Personal-->
        <ion-col>
          <ion-row>
            <ion-text>
              <h3>
                <ion-icon name="person"></ion-icon>
                {{egresado.Nombre}} {{egresado.ApellidoPaterno}}
                {{egresado.ApellidoMaterno}}
              </h3>
              <span class="muted spaced-text"
                >{{this.helperService.getLatestPosition(egresado)}}</span
              >
            </ion-text>
          </ion-row>
          <ion-row></ion-row>
          <ion-row>
            <ion-text>
              <span>Fecha de Nacimiento</span>
              <br />
              <span class="muted spaced-text">
                {{egresado.FechaNac | date}}
              </span>
            </ion-text>
          </ion-row>
          <ion-row></ion-row>
          <ion-row>
            <span> Genero: </span>
            <span class="muted ion-margin-horizontal">{{egresado.Genero}}</span>
          </ion-row>
          <span *ngIf="egresado.destacado" class="star"
            ><ion-icon name="star"></ion-icon
          ></span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--Card About-->
    <ion-card>
      <ion-card-header>
        <ion-card-title>About</ion-card-title>
        <ion-card-subtitle>{{egresado.Nombre}}</ion-card-subtitle>
      </ion-card-header>
      <!--Card Contenido -->
      <ion-card-content> {{egresado.about}} </ion-card-content>
    </ion-card>
    <!--Grid de Habilidades-->
    <div class="titulo">
      <h3>Habilidades</h3>
    </div>
    <ion-grid class="chip">
      <ion-row>
        <ion-col *ngFor="let habilidad of egresado.egresadosHabilidad">
          <ion-chip>
            <ion-label>{{habilidad.habilidad}}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--Card Experiencia-->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Experiencias</ion-card-title>
        <ion-card-subtitle>Experiencias Laborales</ion-card-subtitle>
      </ion-card-header>
      <!--Card Contenido -->
      <ion-card-content>
        <ion-grid>
          <ion-row
            *ngFor="let experiencia of egresado.experienciaLaboralEgresado"
          >
            <ion-col>
              <ion-row>
                <ion-text>
                  <h3>{{experiencia.empresa}} - {{experiencia.posicion}}</h3>
                  <span
                    >{{experiencia.FechaEntr }} | {{experiencia.FechaSal ||
                    'Actualidad' }}</span
                  >
                </ion-text>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row> </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <!--Card Educacion-->
    <ion-card *ngFor=" let educacion of egresado.educacion">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="book"></ion-icon>
          Educacion
        </ion-card-title>
        <ion-card-subtitle>{{educacion.TipoTitulo}}</ion-card-subtitle>
      </ion-card-header>
      <!--Card Contenido -->
      <ion-card-content>
        <h3>{{educacion.Titulo}}</h3>
        <ion-text>
          <span>{{educacion.Universidad}}</span>
          <br />
          <span
            >{{educacion.FechaEntr}} | {{educacion.FechaSal || 'Actualidad'}}
          </span>
        </ion-text>
      </ion-card-content>
    </ion-card>
    <!--Seccion Idioma-->
    <div class="titulo">
      <h3><ion-icon name="language"></ion-icon> Idiomas</h3>
    </div>
    <ion-grid class="chip">
      <ion-row>
        <ion-col *ngFor="let idiaomas of egresado.idiomaEgresado">
          <ion-chip>
            <ion-icon name="chatbubbles-outline" color="primary"></ion-icon>
            <ion-label>{{idiaomas.idioma}}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Seccion Nacionalidad -->
    <div class="titulo">
      <h3><ion-icon name="globe-outline"></ion-icon> Nacionalidad</h3>
    </div>
    <ion-grid class="chip">
      <ion-row>
        <ion-col *ngFor="let nacionalidad of egresado.nacionalidadEgresado">
          <ion-chip>
            <ion-icon name="flag-outline" color="primary"></ion-icon>
            <ion-label>{{nacionalidad.nacionalidad}}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--Contactos-->
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="call"></ion-icon>
          Contactos
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row *ngFor="let contactos of egresado.contacto">
            <ion-col>
              <h3>{{contactos.tipo}}</h3>
              <span>{{contactos.valor}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
