ion-spinner {
  height: 100%;
  display: block;
  margin: 0 auto;
}

.muted {
  color: gray;
}

h3 {
  margin: 0px
}

.spaced-text {
  margin: 8px 0 15px 0;

}
.chip{
  display: flex;
 justify-content: center;
 margin-top: 10px;
 padding: 5px;
}
.titulo{
  margin-top: 10px;
  margin-left: 20px;
}