<app-loader *ngIf="loading"></app-loader>

<ion-header>
  <ion-toolbar>
    <ion-title>Editar Idiomas</ion-title>
    <ion-buttons slot="end">
      <ion-button [strong]="true" (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-searchbar [debounce]="200" (ionInput)="handleSearchBarChange($event)"></ion-searchbar>
</ion-header>
<ion-content class="ion-padding">
  <ng-container *ngIf="!loading">
    <ion-item *ngFor="let idioma of results">
      <ion-checkbox slot="end" [(ngModel)]="idioma.checked" (ionChange)="checkboxChanged($event, idioma)"></ion-checkbox>
      <ion-label>{{idioma.idioma}}</ion-label>
    </ion-item>
  </ng-container>
</ion-content>