<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Olvidate La contraseña</ion-title>
    <ion-buttons slot="start" mode="ios">
      <ion-back-button [routerLink]="['/tabs/login']">Atras</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense" mode="md">
    <ion-toolbar class="md">
      <ion-title size="large" class="md">Olvidate La contraseña</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-text-center">
    <ion-img src="../../../assets/logo_uasd_completo.png"></ion-img>
    <h1>Recupera tu contraseña</h1>
    <p>Ingresa tu correo electronico para recuperar tu contraseña</p>
    
    <form [formGroup]="resetPasswordForm" class="ion-padding-top" >
      <ion-input type="email" label="Email" labelPlacement="floating" fill="solid" name="email"
        placeholder="Escribir Email" errorText="El email es requerido" formControlName="email"></ion-input>
      <ion-button type="button" expand="block" (click)="resetPassword()">
        Enviar
      </ion-button>
    </form>
  </div>
</ion-content>