<!-- 
  Este archivo representa la vista de la página de recuperación de contraseña.
  Contiene un formulario para que el usuario ingrese su correo electrónico y reciba instrucciones para recuperar su contraseña.
  Si el correo electrónico es válido, se muestra un mensaje de éxito y se envía un correo electrónico con las instrucciones.
  Si el correo electrónico no es válido, se muestra un mensaje de error.
-->
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Olvidaste La contraseña</ion-title>
    <ion-buttons slot="start" mode="ios">
      <ion-back-button [routerLink]="['/tabs/login']">Atras</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense" mode="md">
    <ion-toolbar class="md">
      <ion-title size="large" class="md">Olvidaste La contraseña</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="!message">
    <ion-img src="../../../assets/logo_uasd_completo.png"></ion-img>
    <h1>Recupera tu contraseña</h1>
    <p>Ingresa tu correo electronico para recuperar tu contraseña</p>
    
    <form [formGroup]="resetPasswordForm" class="ion-padding-top" >
      <ion-input type="email" label="Email" labelPlacement="floating" fill="solid" name="email"
        placeholder="Escribir Email" errorText="El email es requerido" formControlName="email"></ion-input>
      <ion-button type="button" expand="block" (click)="resetPassword()">
        Enviar
      </ion-button>
    </form>
  </div>
  <div class="ion-text-center" *ngIf="message">
    <ion-img src="../../../assets/logo_uasd_completo.png"></ion-img>
    <h1>Recupera tu contraseña</h1>
    <ion-card color="light">
      <ion-card-header>
        <ion-card-title color="susseces"><h2>{{message}}</h2></ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-text>
          Se ha enviado un correo electrónico con las instrucciones para recuperar tu contraseña.
        </ion-text>
        <br>
        <br>
        <ion-text>
          Si no recibes el correo electrónico en unos minutos, revisa tu carpeta de spam.
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>