<ion-header [translucent]="true">
  <ion-toolbar  color="primary">
    <ion-title size="large">Egresados</ion-title>
    <ion-buttons slot="primary">
      <ion-button id="open-filtrado-modal">
        <ion-icon slot="end" name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="md">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Egresados</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-loader [isLoading]="loading"></app-loader>
  <app-egresados-list [egresados]="egresados" (pageOfNumber)="numberOfPage($event)"></app-egresados-list>

  <!-- Filrar Modal -->
  <ion-modal trigger="open-filtrado-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Filtros</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Filtrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <!-- Opciones de contenido: Más antiguas, más recientes, letras -->
      <ion-content class="ion-padding">
        <ion-text>
          <h3>Aquí irán los filtros</h3>
        </ion-text>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
