<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Configuración</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item href="/login">
      <ion-label> ¿Eres estudiante?, Actualiza tu perfil </ion-label>
      <ion-icon slot="end" name="person"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Acerca de Egresados-UASD App</ion-label>
      <ion-icon name="information-circle"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Créditos</ion-label>
      <ion-icon name="sparkles"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
