<ng-container>
  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-title>Cuenta</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
      <ion-header collapse="condense" mode="md">
        <ion-toolbar>
          <ion-title size="large">Configuración</ion-title>
        </ion-toolbar>
      </ion-header>
      

      <div style="min-height: 30%;">
        <ion-grid style="height: 100%;">
          <ion-row class="ion-justify-content-center" style="margin-top: 15px;">
            <h4 *ngIf="usuario">
              {{usuario.email}}
            </h4>
          </ion-row>
          <ion-row class="ion-justify-content-center" style="margin-top: 15px;">
            <ion-text *ngIf="usuario">
              {{getRole()}}
            </ion-text>
          </ion-row>
        </ion-grid>
      </div>

      <ion-button expand="block" color="light" (click)="goToEgresadoEdit()" *ngIf="isAdminUser()">
        Editar Perfil
        <ion-icon name="create-outline" slot="end"></ion-icon>
      </ion-button>
      <ion-button expand="block" color="danger" style="margin-top: 10px;" (click)="logout()">
        Salir de la Sesión
        <ion-icon name="exit-outline" slot="end"></ion-icon>
      </ion-button>
  </ion-content>
</ng-container>
